.custom-result-modal {
  .modalHeader {
    color: #fff;
    background-color: #ab1d37;
  }
  .close-icon {
    cursor: pointer;
    font-size: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
