@import "./../../scss/colors";
@import "./../../scss/mixins";
.changePasswordDiv {
  padding: 32px 48px !important;
  border-radius: 12px;
  border: 1px solid #d1d1d1;
  position: relative;
  max-width: 750px;
  margin: 32px auto;
  width: calc(100vw - 64px);
  .inputRow {
    margin-bottom: 24px;
    .form-control {
      padding: 14px 24px;
    }
    .form-label {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .resetPwdForm {
    padding-bottom: 48px;
  }

  .submitBtnDiv {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    .btn {
      width: 100%;
      border-radius: 0 0 12px 12px;
      box-shadow: none;
      background-color: #1f2839;
      padding: 24px;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
@media screen and(max-width:map-get($breakpoints,'sm')) {
  .changePasswordDiv {
    padding: 24px !important;
  }
  .resetNewPwdFields {
    flex-direction: column;
    row-gap: 24px;
    .col-6 {
      width: 100%;
    }
  }
}
