@import "./scss/mixins";
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden !important;
  box-sizing: border-box !important;
  overflow-y: auto !important;
}
h1 {
  font-size: 32px !important;
  padding: 0 !important;
  margin: 0 !important;
}
// @media screen and (max-width: map-get($breakpoints,"mdl")) {
//   .container {
//     margin: 0;
//     padding: 0;
//     max-width: fit-content;
//   }
// }
.input-disabled {
  background-color: lightgrey !important;
  color: black !important;
  opacity: 0.5 !important;
  cursor: not-allowed;
}

.bg-lightgray {
  background-color: rgba($color: #000000, $alpha: 0.1);
}
.bg-pink {
  background-color: #ffa8b5 !important;
}
