@import "./../../../scss/colors";
@import "./../../../scss/mixins";

.dashboardSection {
  display: flex;
  flex-direction: column;
  .topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    .rightFilter {
      display: flex;
      font-size: 12px !important;
      .down {
        width: 98px;
        height: 40px;
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        padding: 14px 16px;
        margin-right: 10px;
      }
      img {
        width: 14px !important;
        height: 14px !important;
        margin-right: 5px;
      }
      .up {
        width: 98px;
        height: 40px;
        background-color: #0dc91c;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        padding: 14px 16px;
      }
    }
  }
}
.dashboardSectionDiv {
  border-radius: 24px;
  overflow: hidden;
  color: #fff;
  margin-bottom: 48px;
  .dashboard-header {
    height: 98px;
    display: flex;
    align-items: center;
    .dashboard-dropdown {
      position: absolute;
      bottom: 0;
      left: 0;
      height: fit-content;
    }
  }
  .navbar {
    z-index: 0 !important;
    background-color: $primary-color !important;
    padding: 0 60px !important;
    .nav-link {
      color: #fff !important;
      font-size: 22px !important;
      font-weight: 300 !important;
    }
    .dropdown-toggle::after {
      transform: translateY(50%) !important;
    }
  }
  .dashboardContent {
    background-color: #1e2738 !important;
    height: 481px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 48px;
    .count {
      font-size: 58px;
      font-weight: 500;
      img {
        width: 26px;
        height: 26px;
        margin-right: 8px;
      }
    }
    .bet-payout-div {
      display: flex;
      .bet-input {
        margin-right: 24px;
      }
      label {
        color: #d0d0d0;
        font-size: 14px;
        margin-bottom: 8px;
        font-weight: 400;
      }
      .input-div {
        display: flex;
        flex-direction: column;
      }
      input {
        max-width: 416px;
        margin-bottom: 24px;
        height: 61px;
        border-radius: 24px;
        background-color: transparent;
        padding: 0 16px;
        color: #fff;
      }
      .max-count {
        font-size: 14px;
        font-weight: 700;
        img {
          width: 15px !important;
          height: 15px !important;
          margin-left: 5px;
        }
      }
      .bet-count {
        margin-left: auto;
      }
    }
  }
}

.advertise {
  height: 309px;
  padding: 0 !important;
  border-radius: 24px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .header {
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
  }
  .desc {
    font-size: 16px;
    font-weight: 300;
  }
  //   img {
  //     height: 100%;
  //     border-radius: 24px;
  //     width: 100%;
  //     object-fit: fill;
  //   }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
  }
}
@media screen and (max-width: map-get($breakpoints,"mdl")) {
  .dashboardSection {
    padding: 0 24px;
    .topSection {
      h1 {
        font-size: 21px !important;
      }
    }
  }
}
